body {
  padding: 10px;
  font-family: Roboto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.navbar-light {
  background-color: rgb(209, 39, 9);
}
.page-footer{
  background-color: rgb(109, 101, 100);
  margin-top: 300px;
}

.modal{
  min-width: 800px;
  min-height: 400px;
  position: absolute;
}

h1{
  text-align: center;
}
h5{
  text-align: center;
}
h6{
  font-weight: bold;
}

img{
  width:35px;
  position: relative;
  margin-top: 7px;
  margin-left: 10px;
  margin-right: 10px;
}

.lien{
  text-decoration: underline;
  color: white;
}

.btn{
  background-color: rgb(109, 101, 100);
  align-items: right;
}
.btn:hover{
  background-color: lightgray;
}

.btnAccueil{
  margin: auto;
  display: block;
  width: 330px;
}