body {
  padding: 10px;
  font-family: Roboto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.nav-wrapper {
  background-color: rgb(209, 39, 9);
}
.page-footer{
  background-color: rgb(109, 101, 100);
  margin-top: 300px;
}

h1{
  text-align: center;
}

img{
  width:45px;
}

.lien{
  text-decoration: underline;
  color: white;
}