<template name='actualite'>
    <h1>L'Actualité</h1>
    <h2>Calendrier & Résultats</h2>
    <h5>Cette semaine</h5>
    <table class="highlight centered">
        <thead>
            <tr>
                <th>Équipe</th>
                <th>Score/Date</th>
                <th>Équipe</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>CB</td>
                <td>20/33</td>
                <td>Talence</td>
            </tr>
            <tr>
                <td>Pessac</td>
                <td>40/42</td>
                <td>CB</td>
            </tr>
        </tbody>
    </table>
    <h2>Les Événements</h2>
</template>