<template name='Administration'>
    <h1>Administration</h1>
    <h2>Le Club - Membres & Encadrants</h2>
    <h2>Les Licences - Tarifs & Documents</h2>
    <h2>Les Équipes - Horaires & Salles</h2>
    <h2>Actualité - Calendrier & Résultats</h2>
    <div class="row">
        <a class="btn red" href="calendrier&resultats">Séniors G</a>
        <a class="btn red" href="actualite">Séniors F</a>
        <a class="btn red" href="actualite">-18G</a>
        <a class="btn red" href="actualite">-18F</a>
        <a class="btn red" href="actualite">-15G</a>
        <a class="btn red" href="actualite">-15F</a>
    </div>
    <h2>Actualité - Les Événements</h2>
    <h2>Les Partenaires</h2>
</template>