<template name="calendrierResultats">
    <div class="container">
        <div class="row">
            <h1>Administration</h1>
            {{>modalMatch}}
            <h5>{{params}}</h5>

        </div>
        <div class="row">
            <a class="modal-trigger btn" id="btnMatch" href="">
                Ajouter un match
            </a>
        </div>
        <div class="row">
            <table id="table_id" class="highlight centered">
                {{#if Template.subscriptionsReady}}
                {{#each matchsEquipe}}
                {{>tableauMatchResultatAdmin}}
                {{/each}}
                {{else}}
                <!-- spinner -->
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div>
                        <div class="gap-patch">
                            <div class="circle"></div>
                        </div>
                        <div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
                {{/if}}
            </table>
        </div>
    </div>
</template>

<template name="tableauMatchResultatAdmin">
    <table id="table_id" class="highlight centered">
        {{>modalModifierMatch}}
        {{#each matchs}}
        <thead>
            <tr>
                <!-- <th>Semaine</th> -->
                <th>Date et horaire</th>
                <th>Équipe à domicile</th>
                <th>Score</th>
                <th>Équipe extérieure</th>
                <th>Match passé ?</th>
                <th>Modifier</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <!-- <td>{{dateDebutSemaine}} - {{dateFinSemaine}}</td> -->
                <td>{{date}} - {{horaire}}</td>
                <td>{{equipeDomicile}}</td>
                <td>{{pointsDomicile}} - {{pointsExterieur}}</td>
                <td>{{equipeExterieure}}</td>
                <td>
                    <label>
                        <input type="checkbox" class="filled-in" id="matchPasse{{id}}" />
                        <span></span>
                    </label>
                </td>
                <td><a class="modal-trigger btn" id="btnModifierMatch{{id}}">Modifier</a></td>
                <td><a class="modal-trigger btn">Supprimer</a></td>
            </tr>
        </tbody>
        {{/each}}
    </table>
</template>

<template name='modalMatch'>
    <div id="modalMatch" class="modal">
        <div class="modal-content">
            <h4>Nouveau match</h4>
            <div class="nouveau-match-container">
                {{>quickForm collection="Equipes" id="insertMatchForm" type="insert" class="nouveauMatch"}}
                <div class="modal-footer">
                    <a href="" class="modal-close waves-effect waves-green btn-flat" id="annuler">Annuler</a>
                </div>
            </div>
        </div>
    </div>
</template>

<template name='modalModifierMatch'>
    <div id="modalModifierMatch" class="modal">
        <div class="modal-content">
            <h4>Modifier le match</h4>
            <div class="modifier-match-container">
                {{>quickForm collection="Equipes" id="updatetMatchId" type="update" doc=this}}
                <div class="modal-footer">
                    <a href="" class="modal-close waves-effect waves-green btn-flat" id="annulerModifier">Annuler</a>
                </div>
            </div>
        </div>
    </div>
</template>
<!-- <template name='modalModifierNON'>
    <div id="modalModifier" class="modal">
        <div class="modal-content">
            <h4>Modifier Match</h4>
            <div class="row">
                <div class="col s6">
                    Semaine du :
                    <div class="input-field inline">
                        <input id="dateDeb" type="date" class="validate">
                    </div>
                </div>
                <div class="col s6">
                    au
                    <div class="input-field inline">
                        <input id="dateFin" type="date" class="validate">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    Équipe à domicile :
                    <div class="input-field inline">
                        <input id="equipeDomicileMatch" type="text" class="validate" placeholder="ex : Carbon-Blanc">
                    </div>
                </div>
                <div class="col s6">
                    Équipe extérieure :
                    <div class="input-field inline">
                        <input id="equipeExterieureMatch" type="text" class="validate" placeholder="ex : Ambarès">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s6">
                    Date :
                    <div class="input-field inline">
                        <input id="dateMatch" type="date" class="validate">
                    </div>
                </div>
                <div class="col s6">
                    Heure :
                    <div class="input-field inline">
                        <input id="heureMatch" type="time" class="validate">
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="" class="modal-close waves-effect waves-green btn-flat" id="annuler">Annuler</a>
            <a href="" class="modal-close waves-effect waves-green btn-flat" id="saveData">Enregistrer</a>
        </div>
    </div>
</template> -->