<template name="footer">
    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col l4 s12">
                    <h5 class="white-text">LIENS UTILES</h5>
                    <p class="grey-text text-lighten-4">
                        <a href="https://www.ffhandball.fr/fr" target="_blank" class="lien">Fédération Française de
                            HandBall
                            (FFHB)</a>
                    </p>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">SALLE</h5>
                    <p class="grey-text text-lighten-4">
                        Gymnase du Faisan <br>
                        RUE DES FUTAIES<br>
                        33560 CARBON-BLANC<br>
                        Tel : 06.00.00.00.00
                    </p>
                </div>
                <div class="col l4 s12">
                    <h5 class="white-text">NOUS SUIVRE</h5>
                </div>
            </div>
        </div>
    </footer>
</template>