<template name='HomeLayout'>
    <header>
        {{>Template.dynamic template=navbar}}
    </header>
    <main>
        <div class="container">
            <div class="row">
                <h1>Bienvenue sur le site de CACBO Handball</h1>
            </div>
            <div class="row">
                <a class="btn red" href="actualite">Résultats et Matchs à venir</a>
            </div>
            <div class="row">
                <a class="btn red" href="actualite">Événement à venir</a>
            </div>
        </div>
    </main>
    {{>Template.dynamic template=footer}}
</template>