<template name='LesEquipes'>
    <h1>Les Équipes</h1>

    <body>
        <div class="container">
            <ul>
                {{#each equipes}}
                {{> Equipes}}
                {{/each}}
            </ul>

            <form class="add-form">
                <input type="text" name="text" placeholder="rentrer un niveau">
            </form>
        </div>
    </body>
</template>

<template name="Equipes">
    <li>{{niveau}}</li>
</template>

<template name="UneEquipe">
    <h5>Une Équipe</h5>
</template>