<template name='mainLayout'>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><img src="logo.png" /></li>
          <li class="nav-item"><a href="/">Accueil</a></li>
          <li class="nav-item"><a href="club">Le Club</a></li>
          <li class="nav-item"><a href="equipes">Les Équipes</a></li>
          <li class="nav-item"><a href="actualite">L'Actualité</a></li>
          <li class="nav-item"><a href="partenaires">Les Partenaires</a></li>
          {{#if currentUser}}
          <li class="nav-item"><a href="administration">Administration</a></li>
          {{/if}}
          <li class="nav-item">{{> loginButtons}}</li>
        </ul>
      </div>
    </nav>
  </header>
  <main>
    <!-- affiche le bon template selon la route passée -->
    {{>Template.dynamic template=main}}
  </main>
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l4 s12">
          <h5 class="white-text">LIENS UTILES</h5>
          <p class="grey-text text-lighten-4">
            <a href="https://www.ffhandball.fr/fr" target="_blank" class="lien">Fédération Française de
              HandBall
              (FFHB)</a>
          </p>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">SALLE</h5>
          <p class="grey-text text-lighten-4">
            Gymnase du Faisan <br>
            RUE DES FUTAIES<br>
            33560 CARBON-BLANC<br>
          </p>
        </div>
        <div class="col l4 s12">
          <h5 class="white-text">NOUS SUIVRE</h5>
        </div>
      </div>
    </div>
  </footer>
</template>