<template name="Navbar">
    <nav>
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="brand-logo center">
                <li><img src="">
                    <!-- ajouter logo club -->
                </li>
                <li><a href="">Accueil</a></li>
                <li><a href="club">Le Club</a></li>
                <li><a href="equipes">Les Équipes</a></li>
                <li><a href="actualite">L'Actualité</a></li>
                <li><a href="partenaires">Les Partenaires</a></li>
                <li><a class="btn">Connexion</a></li>
            </ul>
        </div>
    </nav>
</template>