<template name="Navbar">
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="brand-logo center">
                <li><img src="">
                    <!-- logo club -->
                </li>
                <li><a href="">Accueil</a></li>
                <li><a href="club">Le Club</a></li>
                <li><a href="equipes">Les Équipes</a></li>
                <li><a href="actualite">L'Actualité</a></li>
                <li><a href="partenaires">Les Partenaires</a></li>
                {{#if currentUser}}
                <li><a href="administration">Administration</a></li>
                {{/if}}
                <li>{{> loginButtons}}</li>
            </ul>
        </div>
    </nav>
</template>