<!-- <template name="navbar">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="collapse navbar-collapse" id="menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><img src="">
                </li>
                <li class="nav-item"><a href="">Accueil</a></li>
                <li class="nav-item"><a href="club">Le Club</a></li>
                <li class="nav-item"><a href="equipes">Les Équipes</a></li>
                <li class="nav-item"><a href="actualite">L'Actualité</a></li>
                <li class="nav-item"><a href="partenaires">Les Partenaires</a></li>
                {{#if currentUser}}
                <li class="nav-item"><a href="administration">Administration</a></li>
                {{/if}}
                <li class="nav-item">{{> loginButtons}}</li>
            </ul>
        </div>
    </nav>
</template> -->