<template name='partenaires'>
    <div class="container">
        <div class="row">
            <div class="col l12 m12 s12">
                <h1>Les Partenaires</h1>
            </div>
        </div>
        <div class="row">
            <div class="col l6 m12 s12">
                <div class="partenaireCadre">
                    <a href="https://www.intersport.fr/" target="_blank">
                        <img src="intersport1.png" class="imageIntersport" />
                    </a>
                </div>
                <p class="titrePartenaire">Intersport</p>
            </div>
            <div class="col l6 m12 s12">
                <div class="partenaireCadre">
                    <a href="https://www.intersport.fr/" target="_blank">
                        <img src="bailaPizza.jpg" class="imageBailaPizza" />
                    </a>
                </div>
                <p class="titrePartenaire">Baila Pizza</p>
            </div>
        </div>
    </div>
</template>